/* Estilo para el carrusel de imágenes */
.carousel {
    height: 500px; /* Ajustar esta altura según la preferencia */
    overflow: hidden; /* Asegurar que cualquier parte de la imagen que sobresalga se oculte */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%; /* Asegurar que el contenedor interno también tenga la altura completa del contenedor principal */
    gap: 3px; /* Espacio entre las imágenes */
}

.carousel-item {
    flex-shrink: 0;
    display: flex;
    overflow: hidden;
    height: 100%; /* Ajustar la altura del contenedor al tamaño total del carrusel */
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%; /* Esto asegura que las imágenes no excedan la altura del contenedor */
    object-fit: contain; /* Ajustar la imagen dentro del contenedor sin distorsionar sus proporciones */
}

/* Botones de navegación del carrusel */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

/* Estilo principal para la sección de alojamiento */
.accommodation-container{
  transform: scale(0.9);
}

.accommodation-details {
    max-width: 600px; /* Ajusta el ancho máximo */
    margin-right: 40px; /* Más espacio a la derecha */
    margin-left: 20px; /* Añade margen a la izquierda para evitar que quede tan pegado */
    padding: 0 0 20px 0; /* Añade algo de espacio superior e inferior */
    line-height: 1.5; /* Mejora la legibilidad */
}

.accommodation-details h1 {
    font-size: 36px; /* Tamaño más grande para el título */
    font-weight: bold;
    margin-bottom: 12px; /* Espacio inferior */
    margin-top: 15px; /* Espacio superior */
}

.accommodation-meta {
    font-size: 18px;
    color: #555; /* Color ligeramente más oscuro */
    margin-bottom: 15px; /* Espacio inferior */
}

.accommodation-description {
    font-size: 16px;
    line-height: 1.7; /* Incrementa la altura de línea para mayor legibilidad */
    margin-bottom: 40px; /* Aumenta el espacio debajo de la descripción */
}

/* Contenedor principal para los detalles del alojamiento y la reserva */
.accommodation-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto;
  gap: 30px; /* Espacio entre la columna de detalles y la de reserva */
}

/* Estilo para la sección de comodidades */
.amenities-section h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px; /* Aumenta el espacio debajo del título */
}

.amenities-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas para alinear las comodidades */
    gap: 0px 30px; /* Más espacio entre las columnas */
}

.amenity-category {
    margin-bottom: 30px; /* Aumenta el espacio debajo de cada categoría */
}

.amenity-category h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px; /* Aumenta el espacio debajo del subtítulo */
    text-transform: uppercase; /* Mayúsculas para los títulos de cada categoría */
}

.amenity-category ul {
    list-style: none;
    padding: 0;
}

.amenity-category ul li {
    display: flex;
    align-items: center;
    margin-bottom: 12px; /* Aumenta el espacio entre los elementos de la lista */
    font-size: 16px;
}

.amenity-category ul li img {
    margin-right: 15px; /* Añade más espacio entre el icono y el texto */
    width: 26px; /* Tamaño ligeramente más grande para los iconos */
    height: auto;
}

/* Ajustes adicionales */
.amenities-section {
    border-top: 1px solid #e0e0e0; /* Añade una línea superior a la sección de Amenities */
    padding-top: 20px; /* Añade espacio entre la línea y el contenido */
}


/* Estilos para la sección de la reserva (aside) */
.reservation-section {
  width: 300px; /* Fijar el ancho */
  padding: 15px 30px 30px 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  align-self: flex-start; /* Asegura que esté alineado con el contenido superior */
}

.reservation-details h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Ajuste de estilo para los campos de fecha */
.date-picker::-webkit-calendar-picker-indicator { /* Estilos para ocultar el icono de calendario predeterminado */
  display: none;
}

.date-container {
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
}

.date-picker {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  padding-right: 40px; /* Espacio para el icono */
  pointer-events: none; /* Desactiva los eventos en el input */
}

/* Posicionar el icono del calendario dentro del campo */
.icon-calendar {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  pointer-events: none; /* El icono no interfiere con el clic */
  filter: invert(0); /* Convertir el icono a color negro */
}

.reservation-item label {
  font-weight: bold;
  margin-bottom: 16px;
  display: block;
}

.reservation-item input {
  width: 100%;
}

.reservation-value {
  font-size: 16px;
  color: #333;
}

/* Servicios extra de la sección de reservas */
.extra-services {
  list-style: none;
  padding: 0;
}

/* Ajuste de los servicios extra */
.extra-services li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 16px;
  position: relative;
}

/* Etiqueta de servicio extra */
.extra-service-label {
  position: relative;
  z-index: 2; /* Asegura que el texto esté por delante de la línea */
}

/* Línea separadora */
.extra-service-line {
  flex-grow: 1;
  height: 1px;
  background-color: #ddd; /* Color de la línea */
  z-index: 1; /* La línea está detrás del texto */
  margin-left: 10px; /* Ajusta para que la línea comience después del texto */
  margin-right: 10px; /* Ajusta para que la línea no toque el precio */
}

.extra-services input[type="checkbox"] {
  margin-right: 10px;
  width: 20px; /* Ajusta el tamaño del checkbox */
  height: 20px; /* Ajusta el tamaño del checkbox */
  -webkit-appearance: none;
  appearance: none;
  background-color: #f9f9f9;
  border: 2px solid #000000; /* Borde del checkbox */
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.extra-services input[type="checkbox"]:checked {
  background-color: #345e41;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23FFF' d='M6 10.293l-3.293-3.293-1.414 1.414 4.707 4.707 9.293-9.293-1.414-1.414z'/%3E%3C/svg%3E"); /* Es un archivo SVG que representa una marca de verificación, los archivos svg le indican al navegador como dibujar un elemento */
  background-repeat: no-repeat;
  border: 2px solid #345e41; /* Borde del checkbox */
  background-position: center;
  background-size: 14px;
}

/* Precio del servicio */
.service-price {
  white-space: nowrap;
  z-index: 2; /* El precio debe estar por delante de la línea */
  background-color: #f9f9f9; /* Fondo para que el precio no cruce la línea */
}

.price-summary {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-summary p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.price-total {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.book-now-btn {
  display: block;
  width: 100%;
  background-color: #345e41;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.book-now-btn:hover {
  background-color: #2b4b34;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .accommodation-container {
      flex-direction: column;
      align-items: center;
  }

  .reservation-section {
      width: 100%;
      margin-top: 20px;
  }
}

/* Estilo para el campo de Guests */
.guests-summary {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ddd; /* Borde similar a Check-in y Check-out */
  padding: 8.37px;
  border-radius: 4px; /* Bordes redondeados como los campos superiores */
  color: #333;
  background-color: #fff; /* Fondo blanco */
  justify-content: space-between; /* Alineación entre el texto y el icono */
  margin-top: 15px; /* Distancia similar entre "Guests" y el rectángulo, como Check-in y Check-out */
}

/* Aplicar filtro al icono de Guests para que sea negro */
.guests-summary::after {
  content: "\1F464"; /* Icono de persona */
  font-size: 18px;
  color: #000; /* Cambiar el color del icono a negro */
  filter: brightness(0); /* Aplicar un filtro para asegurar que sea completamente negro */
}

/* Estilos para el dropdown de selección de Guests */
.guest-dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.guest-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.guest-option label {
  font-size: 16px;
  font-weight: 500;
}

.guest-controls {
  display: flex;
  align-items: center;
}

.guest-controls button {
  background-color: white;
  color: rgb(0, 0, 0);
  border: 4px;
  border-color: white;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.guest-controls button:hover {
  background-color: #2b4b34;
  color: white;
  border-radius: 4px;
}

.guest-controls span {
  width: 20px;
  text-align: center;
  font-size: 16px;
}

.guest-done-btn {
  display: block;
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px;
  border-color: #2b4b34;
  border: 1px solid;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.guest-done-btn:hover {
  background-color: #2b4b34;
  color: white;
  border: none;
}

/* Estilos para la sección de alojamientos relacionados */
.related-accommodations{
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto 30px auto;
  gap: 30px; /* Espacio entre la columna de detalles y la de reserva */
}

.related-accommodations h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
  font-size: 28px;
  color: #333;
}

.accommodation-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.accommodation-item {
  background-color: #ffffff;
  padding: 20px;
  text-align: left;
  width: calc(50% - 20px); /* Dos tarjetas en el ancho completo */
  box-sizing: border-box;
}

.accommodation-item img {
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.accommodation-item img:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.accommodation-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.accommodation-header h3 {
  font-size: 20px;
  margin: 0;
}

.accommodation-header p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.accommodation-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

.accommodation-icons {
  display: flex;
  gap: 10px;
}

.accommodation-icons img {
  width: 24px;
  height: 24px;
}

.accommodation-button button {
  padding: 10px 15px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

.accommodation-button button:hover {
  color: #345e41;
}

.accommodation-button img.arrow {
  width: 25px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: inline-block;
  margin: 0px;
}

.accommodation-item button:hover .arrow {
  transform: translateX(10px); /* Desplaza la flecha hacia la derecha */
  filter: brightness(0) saturate(100%) invert(30%) sepia(70%) saturate(300%) hue-rotate(90deg); /* Verde en hover */
}

/* Ajustes para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .accommodation-item {
      width: 100%; /* Una tarjeta en pantallas pequeñas */
  }
}
