
/* Body */

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    padding: 0;
    z-index: 1;
}

/* Contenedor principal de la sección */
.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    color: #fff;
    height: 500px; /* Altura del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden; /* Asegúrate de que el video no se salga del contenedor */
}

/* Video de fondo */
.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* El video cubrirá todo el contenedor sin deformarse */
    z-index: -1; /* Asegúrate de que el video quede detrás del contenido */
}

/* Overlay oscuro sobre el video para mejorar la visibilidad del texto */
.hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity 0.8s ease; /* Transición suave para el overlay */
}

/* Contenido de la sección hero */
.hero-content {
    position: relative;
    z-index: 2;
    padding: 50px 20px;
}

/* Estilos para el texto */
.hero-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

/* Botón para ver el video */
.hero-content .watch-video {
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: opacity 0.3s ease;
    opacity: 0.8;
}

.hero-content .watch-video:hover {
    opacity: 1;
}

.hero-content .watch-video img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}


/* Availability Check Section */
.availability-check {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: -50px auto 50px;
    width: 80%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 3; /* Más alto que el hero-container y su overlay */
}

.availability-check form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.availability-check .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    flex: 1;
}

.availability-check .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.availability-check .form-group input,
.availability-check .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.availability-check button {
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    background-color: #345e41;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 0.5; /* Ajusta el tamaño del botón */
    margin-left: 10px; /* Añade un margen izquierdo para separar el botón del formulario */
}

.availability-check button:hover {
    background-color: #2a4834;
}


/* Accommodations Section */
.accommodations {
    background-color: #fff;
    padding: 20px 20px;
    text-align: center;
}

.accommodations-container {
    max-width: 1200px;
    margin: 0 auto;
}

.accommodations h2 {
    font-size: 42px;
    margin-bottom: 40px;
}

/* Grid para acomodaciones */
.accommodation-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.accommodation-item {
    background-color: #ffffff;
    padding: 20px;
    text-align: left;
    flex: 1 1 calc(33% - 20px); /* Ajustamos el ancho según sea necesario */
    box-sizing: border-box;
}

.accommodation-button{
    display: flex;
    justify-content: center;
}

.accommodation-item img {
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
}

.accommodation-item img:hover{
    opacity: 0.8; /* Reduce la opacidad en hover */
    transition: transform 0.3s ease;
}

.accommodation-item h3 {
    font-size: 24px;
    margin: 20px 0 10px;
}

.accommodation-item p {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}

.accommodation-icons {
    display: flex;
    gap: 10px; /* Añade espacio entre los iconos */
}

.accommodation-icons img{
    width: 24px;
    height: 24px;
}

.accommodation-item p.texto{
    margin: 10px 0 20px;
    text-align: justify;
}

.accommodation-item button {
    padding: 10px 5px; 
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: inline-flex; /* Cambiado a inline-flex para una mejor alineación */
    align-items: center;
    gap: 10px; /* Espacio entre el texto y la flecha */
}

.accommodation-item button:hover {
    color: #345e41;
}
.accommodation-footer{
    display: flex;
    justify-content: space-between; /* Coloca los iconos a la izquierda y el botón a la derecha */
    align-items: center; /* Alinea verticalmente al centro */
    border-top: 1px solid #ddd; /* Línea divisoria arriba */
    padding-top: 10px; /* Añade espacio entre la línea y los elementos internos */
}

.accommodation-button {
    justify-content: flex-end;
}

.accommodation-item .arrow {
    width: 25px; /* Ajusta el tamaño de la imagen */
    height: auto;
    transition: transform 0.3s ease; /* Añade la transición a la flecha */
    display: inline-block; /* Mantiene la flecha en línea con el texto */
}

.accommodation-header {
    display: flex;
    justify-content: space-between; /* El título a la izquierda y el párrafo a la derecha */
    align-items: baseline; /* Alinea los elementos verticalmente */
    margin: 20px 0 15px; /* Ajustamos el margen según sea necesario */
}

.accommodation-header h3 {
    font-size: 20px;
    margin: 0;
}

.accommodation-header p {
    font-size: 14px;
    color: #666;
    margin: 0; /* Elimina el margen del párrafo */
    text-align: right; /* Alinea el texto a la derecha */
}

.accommodation-item button:hover .arrow {
    transform: translateX(10px); /* Desplaza la flecha hacia la derecha */
    filter: brightness(0) saturate(100%) invert(30%) sepia(70%) saturate(300%) hue-rotate(90deg); /* Verde en hover */
}

/* Responsive adjustments */
@media screen and (max-width: 992px) {
    .accommodation-item {
        width: calc(50% - 20px); /* Dos columnas en pantallas medianas */
    }
}

@media screen and (max-width: 768px) {
    .accommodation-item {
        width: 100%; /* Una columna en pantallas pequeñas */
    }
}

/* Price List Section */
.price-list-section {
    background-color: #ffffff;
    padding: 0px 20px;
    margin-bottom: 60px;
}

.price-list-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}

.price-table {
    flex: 1;
    margin-right: 20px;
}

.price-table h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo para la tabla */
.price-list {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    margin: 20px 0;
}

.price-list thead th {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    border-bottom: 2px solid #ddd;
    color: #333;
}

.price-list thead th small {
    font-size: 12px;
    font-weight: normal;
    color: #666;
}

.price-list tbody td {
    text-align: left;
    padding: 10px 15px;
    font-size: 15px;
    border-bottom: 1px solid #eee;
    color: #444;
}

.price-list tbody tr:last-child td {
    border-bottom: none;
}

.price-list tbody tr:hover td {
    background-color: #f9f9f9;
}

.price-list-image {
    flex: 1;
    position: relative;
}

.price-list-image img {
    width: 100%;
    border-radius: 8px;
    margin: 80px 0 0;
}

.price-list-right {
   text-align: right;
}

.price-list-left {
    text-align: left;
}   

/* Ajustes responsivos */
@media screen and (max-width: 768px) {
    .price-list-container {
        flex-direction: column;
    }

    .price-table {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .price-list thead th, .price-list tbody td {
        font-size: 14px;
        padding: 8px 10px;
    }

    .price-list thead th small {
        font-size: 10px;
    }
}

/* Campground Map Section */
.campground-map-section {
    background-color: #f9f9f9;
    padding: 60px 20px;
    margin-top: 60px;
}

.campground-map-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}

.map-legend {
    flex: 1;
    margin-right: 40px;
}

.map-legend h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.map-legend h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #666;
}

.map-legend ul {
    list-style: none;
    padding: 0;
}

.map-legend ul li {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #444;
    margin-bottom: 15px;
}

.map-legend ul li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.download-pdf-btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #345e41;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.download-pdf-btn:hover {
    background-color: #2a4834;
}

.map-image {
    flex: 1;
}

.map-image img {
    width: 100%;
    border-radius: 8px;
}

/* Responsive adjustments */
@media screen and (max-width: 992px) {
    .campground-map-container {
        flex-direction: column;
    }

    .map-legend {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .map-image img {
        width: 100%;
    }
}

/* Campground Map Section */
.campground-map-section {
    background-color: #ffffff;
    padding: 0px 20px;
    margin-bottom: 60px;
}

.campground-map-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}

.map-legend {
    flex: 1;
    margin-right: 40px;
}

.map-legend h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.map-legend h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #666;
}

.map-legend ul {
    list-style: none;
    padding: 0;
}

.map-legend ul li {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #444;
    margin-bottom: 15px;
}

.map-legend ul li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.download-pdf-btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #345e41;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.download-pdf-btn:hover {
    background-color: #2a4834;
}

.map-image {
    flex: 1;
    margin-top: 90px;
}

.map-image img {
    width: 110%;
    border-radius: 8px;
}

/* Responsive adjustments */
@media screen and (max-width: 992px) {
    .campground-map-container {
        flex-direction: column;
    }

    .map-legend {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .map-image img {
        width: 100%;
    }
}

.pdf-download-button {
    display: inline-flex;
    align-items: center;
    background-color: transparent; /* Botón sin fondo */
    color: #000; /* Texto negro */
    font-size: 16px;
    text-decoration: none;
    border: none;
    padding: 10px 4px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease; /* Transición suave en hover */
}

.pdf-download-button:hover {
    color: #345e41; /* Cambia el color en hover */
}

.pdf-download-button:hover .pdf-icon{
    transition: background-color 0.3s ease; /* Transición suave en hover */
    filter: brightness(0) saturate(100%) invert(30%) sepia(70%) saturate(300%) hue-rotate(90deg); /* Verde en hover */
}

.pdf-icon {
    width: 20px; /* Tamaño del icono */
    height: auto;
    margin-right: 10px; /* Espacio entre el icono y el texto */
}
