<header>
    <div class="top-bar">
        <div class="terms"> 
            <a href="#">Terminos de Uso</a> | 
            <a href="#">Política de Privacidad</a>
        </div>
        <div class="contact-info">
            <a href="tel:+34 947 308 649">Tel. 947 308 649</a> |
            <a href="mailto:info@campingelrionela.com">info@campingelrionela.com</a>
        </div>
    </div>
    <nav class="navbar">
        <div class="weather">
            <a href="#" >Trespaderne<br>&nbsp;&nbsp;&nbsp;☀ 26°C</a>
        </div>
        <ul class="nav-links left">
            <li><a href="#">ALOJAMIENTOS</a>
                <ul class="dropdown">
                    <li><a href="#">Habitación Individual</a></li>
                    <li><a href="#">Habitación Doble</a></li>
                    <li><a href="#">Habitación Deluxe</a></li>
                    <li><a href="#">Bungalow Telsa</a></li>
                </ul>
            </li>
            <li><a href="#">ACTIVIDADES</a>
            </li>
            <li><a href="#">CERVECERÍA</a>
            </li>
        </ul>
        <a href="index.php?page=home" class="logo">
            <img src="/static/images/logo.png" alt="Campground Logo">
        </a>
        <ul class="nav-links right">
            <li><a href="#">ENTORNO</a>
            </li>
            <li><a href="#">RESERVAS</a>
            </li>
            <li><a href="#">CONTACTO</a>
            </li>
        </ul>
        <div class="language-selector">
            <a href="#">EN</a> | <a href="#">ES</a>
        </div>
    </nav>
</header>